<launch>

    <!-- Running Nodes -->
    <node name= "origin_pose_publisher" pkg= "autonomous_exploration" type="origin_pose_publisher" output="screen"/>
    <node name= "robot_pose_publisher" pkg= "autonomous_exploration" type="robot_pose_publisher" output="screen"/>
    <node name= "scotsActionServer" pkg= "autonomous_exploration" type="scots_action_server" output="screen"/>
    <node name= "target_estimation" pkg= "autonomous_exploration" type="target_estimation.py" output="screen"/>

    <!-- Recording Bag File for Submission -->
    <!-- <arg name="record_robot" default="false"/>
    <arg name="rec_robot_name" default="robot.bag"/>

    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
        args="record -O $(find autonomous_exploration)/bag_files/$(arg rec_name) /cmd_vel" output="screen"/>
    </group> -->

</launch>